.app-content {
  margin-top: 70px;   /* navbar height */
  padding: 30px;
  min-height: calc(100vh - 70px);
  background: #f4f7fb;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.app-content.with-sidebar {
  margin-left: 260px;
  width: calc(100% - 260px);
}

.app-content.full {
  margin-left: 0;
  width: 100%;
}
